.outputWrapper {
  position: relative;
  width: 100%;
}

.cardBody {
  height: 120px;
  overflow-y: auto;
}

.textOutputText {
  white-space: pre-line;
  font-size: 1.3em;
}

.lookupText {
  cursor: pointer;
  text-decoration: underline dotted;
  text-underline-offset: 4px;
  padding: 0 2px;
}

.textCopyButton {
  position: absolute;
  bottom: 8px;
  right: 12px;
}
